{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="main">
    <div class="copy-container">
      <h2 class="title">ようこそ{{ user.last_name }}さん</h2>
      <p>まず最初に申請書に必要な情報をアカウントに登録しましょう</p>
    </div>

    <div class="container">
      {% comment %} <form action="{% url 'accountcreate' %}" method="POST"> {% endcomment %}
      <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} <input type="hidden" name = 'schoolnumber' value = '{{ user.username }}'> {% endcomment %}
        <input type="submit" value='register acccount'>
      </form>
    </div>

  </div>


{% endblock content %}

{% block footer %}
{% endblock footer%}