{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class='container'>
    <br>
    <p>企業番号または企業名を入力することでこちらから企業検索をすることができます。</p>

    <form action="#" class="search-form-002">
      <label>
        <input type="text" placeholder="キーワードを入力">
      </label>
      <button type="submit" aria-label="検索"></button>
    </form>

    <br><br><br>

    <div class="table-wrap">
      <table border="1" width="200" class="table">
        <tr>
          <th>求人番号</th>
          <th>会社名</th>
          <th>申請書作成ボタン</th>
          <th>AD</th>
          <th>EE</th>
          <th>ME</th>
          <th>CS</th>
          <th>全</th>
          <th>AC</th>
          <th>都道府県</th>
          <th>住所</th>
          <th>TEL</th>
          <th>担当</th>
          <th>勤務地</th>
          <th>推薦/自由</th>
          <th>応募方法</th>
          <th>選考日</th>
          <th>呼称</th>
          <th>資本金</th>
          <th>従業員(人)</th>
          <th>業種</th>
          <th>事業内容</th>
          <th>職種</th>
          <th>ホームページ</th>
          <th>メールアドレス</th>
          <th>既卒</th>
          <th>障がい者採用</th>
          <th>PDF</th>
          <th>日付</th>
        </tr>

        <tr>
          <td>744</td>
          <td>京成電鉄株式会社(7/28~)</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td></td>
          <td></td>
          <td>千葉県</td>
          <td>市川市八幡3-3-1</td>
          <td>042-712-7308</td>
          <td>人事部人事課 採用担当</td>
          <td>採用HP参照</td>
          <td>自由</td>
          <td>採用HP参照</td>
          <td>別途通知</td>
          <td>ｹｲｾｲﾃﾞﾝﾃﾂ</td>
          <td>368億300万</td>
          <td>1895</td>
          <td>運輸業</td>
          <td>一般運輸業(鉄道)、土地・建物の売買及び賃貸業</td>
          <td>採用HP参照</td>
          <td>http://www.keisei.co.jp/</td>
          <td>saiyou@keisei.jp</td>
          <td></td>
          <td></td>
          <td>24卒-744</td>
          <td>8/2</td>
        </tr>

        <tr>
          <td>743</td>
          <td>株式会社ガンバリオン【四次募集】</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td>1</td>
          <td></td>
          <td></t>
          <td>1</td>
          <td></td>
          <td>1</td>
          <td>福岡県</td>
          <td>福岡市中央区渡辺通2丁目4番8号4階</td>
          <td>092-736-5500</td>
          <td>総務部 人事担当</td>
          <td>福岡</td>
          <td>自由</td>
          <td>履歴書と課題とアンケートを準備し、公式HPから申込※9/4締切</td>
          <td>別途通知</td>
          <td>ｶﾞﾝﾊﾞﾘｵﾝ</td>
          <td>1000万</td>
          <td>113</td>
          <td>情報通信業</td>
          <td>家庭用ｹﾞｰﾑｿﾌﾄの企画・開発、ｽﾏｰﾄﾌｫﾝｱﾌﾟﾘの企画・開発・販売</td>
          <td>ｱｰﾃｨｽﾄ、ﾌﾟﾗﾝﾅｰ</td>
          <td>http://www.ganbarion.co.jp/</td>
          <td>job@ganbarion.co.jp</td>
          <td>〇</td>
          <td></td>
          <td>24卒-743</td>
          <td>8/2</td>
        </tr>

        <tr>
          <td>742</td>
          <td>光商工株式会社</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>東京都</td>
          <td>中央区銀座7丁目4番14号</td>
          <td>03-3573-1351</td>
          <td>総務部 佐藤</td>
          <td>本社</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ﾋｶﾘｼｮｳｺｳ</td>
          <td>1億2000万</td>
          <td>180</td>
          <td>電気機器製造業</td>
          <td>地絡継電器の製造販売及び電気機器、産業機械（国産・輸入）の販売・貿易</td>
          <td>開発・設計</td>
          <td>http://www.hikari-gr.co.jp</td>
          <td>soumu@hikari-gr.co.jp</td>
          <td>〇</td>
          <td></td>
          <td>24卒-742</td>
          <td>8/1</td>
        </tr>

        <tr>
          <td>741</td>
          <td>アエロエンジニアリング株式会社</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>千葉県</td>
          <td>千葉市稲毛氏黒砂1-5-15ISAビル</td>
          <td>043-241-9721</td>
          <td>管理部 遠藤</td>
          <td>営業所</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ｱｴﾛｴﾝｼﾞﾆｱﾘﾝｸﾞ</td>
          <td>5000万</td>
          <td>245</td>
          <td>立体駐車場保守業</td>
          <td>機械式駐車場と物流システムのメンテナンスを主としており、今やなくてはならないインフラ関連の業種となります。…</td>
          <td>機械式立体駐車場メンテナンス</td>
          <td>https://www.aero-eg.co.jp</td>
          <td>000kanri@aero-eg.co.jp</td>
          <td>〇</td>
          <td></td>
          <td>24卒-741</td>
          <td>7/31</td>
        </tr>

        <tr>
          <td>740</td>
          <td>株式会社ビジネス情報テクニカルシステムズ</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>東京都</td>
          <td>台東区雷門１－１６－４立花国際ビル</td>
          <td>03-5806-0661</td>
          <td>業務部 土橋</td>
          <td>都内及び近郊の顧客先</td>
          <td>自由</td>
          <td>8月採用選考あり 電話・ﾒｰﾙ・WEBｴﾝﾄﾘｰ</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>739</td>
          <td>株式会社 光邦</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>東京都</td>
          <td>千代田区飯田橋3-11-18</td>
          <td>03-3265-0611</td>
          <td>管理部管理課 高田</td>
          <td>埼玉県 新座市</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>738</td>
          <td>成友工業株式会社</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>東京都</td>
          <td>中央区京橋2-13-10 京橋MIDビル4階</td>
          <td>03-5806-0661</td>
          <td>業務部 土橋</td>
          <td>都内及び近郊の顧客先</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>737</td>
          <td>株式会社スイコウ</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>東京都</td>
          <td>町田市成瀬が丘2-8-4</td>
          <td>042-796-1166</td>
          <td>総務部 人事課 滝田</td>
          <td>町田支店</td>
          <td>自由</td>
          <td>書類郵送</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>736</td>
          <td>株式会社不二レーベル</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td>埼玉県</td>
          <td>所沢市林1-331-8</td>
          <td>04-2938-4111</td>
          <td>総務部 総務課 剱持・早坂</td>
          <td>本社</td>
          <td>推薦/自由</td>
          <td>随時受付。採用担当者まで連絡。</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>735</td>
          <td>日進電子工業株式会社</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>東京都</td>
          <td>都豊島区東池袋5-44-13</td>
          <td>03-3985-9171</td>
          <td>総務部採用担当課 梅崎</td>
          <td>本社</td>
          <td>自由</td>
          <td>書類提出</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>734</td>
          <td>大江戸テレコム株式会社</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>東京都</td>
          <td>新宿区早稲田鶴巻町543-7 NS_BLDG2F</td>
          <td>03-4477-2340</td>
          <td>採用担当者</td>
          <td>本社</td>
          <td>自由</td>
          <td>書類提出</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>733</td>
          <td>株式会社アジル・ラボ（二次募集）</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>東京都</td>
          <td>中野区中央2-9-1 サンロータスビル4階</td>
          <td>03-6302-0456</td>
          <td>管理部 中山</td>
          <td>本社・首都圏</td>
          <td>推薦/自由</td>
          <td>原則、学校推薦。</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>732</td>
          <td>碌々産業株式会社</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>静岡県</td>
          <td>焼津市相川2575</td>
          <td>054-622-1151</td>
          <td>管理本部 総務課 大上</td>
          <td>静岡工場</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>731</td>
          <td>株式会社ボルテック</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>神奈川県</td>
          <td>横浜市西区岡野二丁目8-13</td>
          <td>045-290-6085</td>
          <td>ヒューマンリソースグループ 阿部</td>
          <td>横浜本社・支社</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>730</td>
          <td>国立研究開発法人理化学研究所</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>埼玉県</td>
          <td>和光市広沢2-1</td>
          <td>050-3500-5294</td>
          <td>人事部人事課</td>
          <td>横浜地区（神奈川県横浜市鶴見区）</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

        <tr>
          <td>729</td>
          <td>国立研究開発法人理化学研究所</td>
          <td>
            <form>
              <input type="submit" value="申請する"/>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td>埼玉県</td>
          <td>和光市広沢2-1</td>
          <td>050-3500-5294</td>
          <td>人事部人事課</td>
          <td>横浜地区（神奈川県横浜市鶴見区）</td>
          <td>自由</td>
          <td>求人票参照</td>
          <td>別途通知</td>
          <td>ﾋﾞｼﾞﾈｽｼﾞｮｳﾎｳﾃｸﾆｶﾙｼｽﾃﾑｽﾞ</td>
          <td>4200万</td>
          <td>86</td>
          <td>情報通信業</td>
          <td>ｺﾝﾋﾟｭｰﾀｿﾌﾄｳｪｱの開発、導入ｺﾝｻﾙﾃｨﾝｸﾞ業務</td>
          <td>システムエンジニア</td>
          <td>https://www.bits1.co.jp/recruit/</td>
          <td>b.recruit@bits1.co.jp</td>
          <td></td>
          <td></td>
          <td>24卒-740</td>
          <td>7/26</td>
        </tr>

      </table>
    </div>
  </div>
</div>

{% block footer %}{% endblock footer %}

<style>
  .search-form-002 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #3979da;
    border-radius: 25px;
  }

  .search-form-002 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
  }

  .search-form-002 input::placeholder {
    color: #767d83;
  }

  .search-form-002 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #3979da;
    cursor: pointer;
  }

  .search-form-002 button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: '';
  }

  .section-title {
    border-bottom: 3px solid #dee7ec;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-decoration: none;
  }

  a:link {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  a:active {
    color: #000000;
  }

  .table-wrap {
    overflow-x: scroll;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }

  .table td,
  .table th {
    border: 2px solid #eee;
    padding: 4px 8px;
  }
</style>

{% endblock content%}