{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class='container'>
    <br>
    <p>企業番号または企業名を入力することでこちらから企業検索をすることができます。</p>

    <form action="#" class="search-form-002">
      <label>
        <input type="text" placeholder="キーワードを入力">
      </label>
      <button type="submit" aria-label="検索"></button>
    </form>

    <br><br><br>

    <div class="table-wrap">
      <table border="1" style='table-layout: auto;' class="table">
        <tr>
          <th>求人番号</th>
          <th style="width: 50%;">会社名</th>
          <th>AD</th>
          <th>EE</th>
          <th>ME</th>
          <th>CS</th>
          <th>全</th>
          <th>AC</th>
          <th style="white-space: nowrap;">都道府県</th>
          <th>住所</th>
          <th>TEL</th>
          <th>担当</th>
          <th>勤務地</th>
          <th>推薦/自由</th>
          <th>応募方法</th>
          <th>選考日</th>
          <th>呼称</th>
          <th>資本金</th>
          <th>従業員(人)</th>
          <th style='white-space: nowrap; padding: 5px 110px; '>業種</th>
          <th style='white-space: nowrap; padding: 15px 110px;'>事業内容</th>
          <th style='white-space: nowrap; padding: 15px 110px;'>職種</th>
          <th>ホームページ</th>
          <th>メールアドレス</th>
          <th>既卒</th>
          <th>障がい者採用</th>
          <th>PDF</th>
          <th>日付</th>
        </tr>

        {% for company in data %}
          <tr>
            <td>
              {{ company.number }}
            </td>
            <td>
              <a href=' ' style=' font-weight:bold;'="font-weight:bold;' ">{{ company.name }}</a>
            </td>
            <td>{{ company.AD }}</td>
            <td>{{ company.EE }}</td>
            <td>{{ company.ME }}</td>
            <td>{{ company.CS }}</td>
            <td>{{ company.ALL }}</td>
            <td>{{ company.AC }}</td>
            <td>{{ company.prefecture }}</td>
            <td>{{ company.address }}</td>
            <td>{{ company.tel }}</td>
            <td>{{ company.PIC }}</td>
            <td>{{ company.workplace }}</td>
            <td>{{ company.qualified }}</td>
            <td>{{ company.method }}</td>
            <td>{{ company.selection_day }}</td>
            <td>{{ company.naming }}</td>
            <td>{{ company.money }}</td>
            <td>{{ company.employee }}</td>
            <td>{{ company.type }}</td>
            <td>{{ company.detail }}</td>
            <td>{{ company.occupation }}</td>
            <td>{{ company.web }}</td>
            <td>{{ company.mail }}</td>
            <td>{{ company.graduated }}</td>
            <td>{{ company.disabled }}</td>
            <td>{{ company.PDF }}</td>
            <td>{{ company.date }}</td>
          </tr>
        {% endfor %}

      </table>
    </div>
  </div>
</div>

{% block footer %}{% endblock footer %}

<style>
  .search-form-002 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #3979da;
    border-radius: 25px;
  }

  .search-form-002 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
  }

  .search-form-002 input::placeholder {
    color: #767d83;
  }

  .search-form-002 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #3979da;
    cursor: pointer;
  }

  .search-form-002 button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: '';
  }

  .section-title {
    border-bottom: 3px solid #dee7ec;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-decoration: none;
  }

  a:link {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  a:active {
    color: #000000;
  }

  .table-wrap {
    overflow-x: scroll;
  }

  .table {
    width: 100%;
    border-collapse: collapse;

  }

  .table td,
  .table th {
    border: 2px solid #eee;

  }
</style>

{% endblock content%}