<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>申請書作成 ｰ アカウント情報登録</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">申請書作成</div>
      <div class="header-list">
        <a href="https://lms.salesio-sp.ac.jp/" class="btn btn--blue">ログアウト</a>
      </div>
    </div>

    <div class="main">
      <div class="copy-container">
        <h2 class="title">アカウント情報登録</h2>
        <div>このサイトでは学生が就職の申請をする際に必要な就職手続き依頼書を作成することができます。</div>
      </div>
      
      <div class="contents">
        <form method="post" action="test.html">
          <p>名前</p>
          <input type="text">
          <p>フリガナ</p>
          <input type="text">
          <p>学年</p>
          <input type="text">
          <p>学籍番号</p>
          <input type="text">
          <p>生年月日</p>
          <input type="date" name="calendar" max="9999-12-31">
          <p>郵便番号</p>
          <input type="text">
          <p>住所</p>
          <input type="text">
          <p>電話番号</p>
          <input type="text">
          <p><input type="submit" value="会員登録を行う"></p>
        </form>
      </div>
    
    </div>
    <div class="adjustment"> </div>
    <div class="footer">
      <div class="footer-logo">申請書作成</div>
    </div>
  </body>
</html>